body {
  background: #0079bf;
  margin: 0;
  font-family: sans-serif;
}

div {
  box-sizing: border-box;
}

header {
  height: 40px;
  background: #026aa7;
}

.title-logo {
  color: #7fb2d1;
  display: inline-block;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.lanes {
  margin: 10px;
}

.lane, .lane-placeholder {
  display: inline-block;

  margin: 5px;

  background-color: #e2e4e6;
  border: 1px solid #ccc;
  border-radius: 3px;

  min-width: 270px;
  vertical-align: top;
}

.lane-placeholder {

  background-color: #006ba9;
  border: none;
  padding: 15px;
  color: #b3d3e5;
  font-size: 15px;
  cursor: pointer;
}
.lane-placeholder:hover {
  background-color: #005586;
  transition: .3s;
}

.lane-header {
  overflow: auto;

  padding: 10px 10px 0 10px;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lane-name {
  float: left;
  font-weight: bold;
  font-size: 15px;
  color: #444;
}

.lane-add-note {
  color: #8c8c8c;
  padding: 10px;
  font-size: 15px;
}

.lane-add-note:hover {
  color: #4d4d4d;
  background-color: #cdd2d4;
  text-decoration: underline;
  cursor: pointer;
}

.lane-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.lane-header:hover .lane-delete {
  visibility: visible;
}

.add-lane {
  cursor: pointer;
  background-color: #3888b7;
  border: none;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 30px;
  margin: 5px;
  font-size: 20px;
}

.lane-delete button {
  padding: 0;

  cursor: pointer;

  font-size: 15px;
  color: #999;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.notes {
  margin: 0.5em;
  padding-left: 0;

  max-width: 270px;
  list-style: none;
}

.note {
  margin-bottom: 5px;
  padding: 8px;

  background-color: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;

  font-size: 15px;
}
.note:hover {
  box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
  transition: .6s;
}

.note .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.note:hover .delete {
  visibility: visible;
}

.badges {
  color: #888;
  padding: 8px 3px 3px 3px;
}

.thumb-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.thumb-icon {
  opacity: 0.5;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
